body {
    background-color: gray;
}

input {
    font-size: 40px;
    margin-top: 30px;
}

label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    font-weight: bold;
    color:antiquewhite;
    margin: 30px; 
}

#result{
    font-size: 50px;
    margin: 20px; 
    color:blue;
}

